<!--
  Generated template for the Slides page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Esqueci a Senha!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/simples.svg" alt="Simples" class="slide-image">
      <h2>Simples</h2>
      <p>
        Pensado para ser <b>simples e rápido</b>. Simplesmente cadastre suas senhas
        para poder vê-las quando e onde estiver. Sem frescuras e sem complicações.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/para-voce.svg" alt="Para você" class="slide-image">
      <h2>Para você</h2>
      <p>
        Não faria sentido proteger um app para quem esquece suas senhas com outra senha, não é mesmo?
        Entre no app respondendo uma pergunta que <b>só você</b> deve saber.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/seguro.svg" alt="Seguro" class="slide-image">
      <h2>Seguro</h2>
      <p>
        Todas as suas senhas ficam salvas apenas <b>em seu próprio aparelho</b>,
        e não em algum servidor onde seus dados poderiam ser roubados.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/robo.png" class="slide-image" alt="Robô - Logo do app Esqueci a senha!">
      <h2 class="slide-title">Pronto para começar?</h2>
      <ion-button size="large" fill="clear" color="primary" (click)="continuar()">
        Continuar
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
