<?xml version='1.0' encoding='utf-8'?>
<widget id="dias.vinicius.esqueciasenha" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Esqueci a Senha</name>
    <description>
        Aplicativo perfeito para quem tem dificuldade em se lembrar de senhas.
        Este aplicativo mantém salvas todas as senhas em seu celular e é protegido
        por uma pergunta pessoal e secreta, afinal, não faria o menor sentido proteger
        um aplicativo para quem se esquece de senhas, com uma outra senha, não é mesmo?
        Você deve cadastrar um email no momento de configuração do aplicativo,
        para que possa recuperar sua resposta, caso acabe a esquecendo.
        Suas senhas não ficam salvas na internet, e sim, em seu celular,
        trazendo assim mais confiança e segurança para o usuário.
    </description>
    <author email="carlosv775@gmail.com" href="http://github.com/CViniciusSDias/">Vinicius Dias</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://ionic.local/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <preference name="android-minSdkVersion" value="16" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <preference name="KeepRunning" value="false" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.1" />
    <plugin name="cordova-plugin-device" spec="1.1.4" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
</widget>
