<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o App</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img src="assets/img/robo.png" alt="Esqueci a Senha!">

    <ion-card-content>
      <ion-card-title>Esqueci a Senha!</ion-card-title>

      <ion-list>
        <ion-item>
          Versão: 2.1.1
        </ion-item>

        <ion-item>
          Desenvolvedor: Vinícius Dias
        </ion-item>

        <ion-item>
          Logo: Lucas Gomes
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
