page-slides {
    ion-slide:last-child .slide-image {
        max-width: 60%;
    }

    .slide-image {
        width: 100%;
        height: 100%;
        max-width: 50%;
        max-height: 50%;
        margin: 1.5rem 0;
    }

    p {
        padding: 0 3.5rem;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;

        b {
            color: #000000;
            font-weight: 500;
        }
    }

    h2 {
        margin-top: 3rem;
    }

    .swiper-pagination-bullet-active {
        background: map-get($colors, primary);
    }
}
